---
// Importación de los componentes de la web
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="items-center align-middle flex flex-col w-[100%] mt-4">
    <a href="/AddTransactionForm">
      <section
        class="flex flex-col max-w-90 items-center border-2 border-black rounded-2xl px-4 py-2 text-center"
      >
        <h1 class="text-black text-2xl font-extrabold">Añadir Transacciones</h1>
        <p>
          Añade transacciones para actualizar tu balance de gastos y ingresos
        </p>
      </section>
    </a>
  </article>
  <h2 class="text-black text-xl font-bold mt-4 ml-8">Ver mis balances:</h2>
  <section class="items-center px-4 py-2 ml-8 mt-2">
    <!-- Balance actual del dinerillo -->
    <section id="actual-balance">
      <p>
        Balance actual: <span class="font-bold text-black">0.00 €</span
        ><!-- Cambiar esto por el balance actual -->
      </p>
    </section>
    <!-- Balance semanal del dinerillo -->
    <section class="mt-4" id="week-balance">
      <p class="text-black text-lg font-semibold">Balance semanal:</p>
      <span>
        <!-- Aquí irá la lógica para ver el balance semanal -->
      </span>
    </section>
    <!-- Balance mensual del dinerillo -->
    <section id="month-balance">
      <p class="text-black text-lg font-semibold">Balance mensual:</p>
      <span>
        <!-- Aquí irá la lógica para ver el balance mensual -->
      </span>
    </section>
    <!-- Balance anual del dinerillo -->
    <section id="year-balance">
      <p class="text-black text-lg font-semibold">Balance anual:</p>
      <span>
        <!-- Aquí irá la lógica para ver el balance anual -->
      </span>
    </section>
  </section>
</Layout>
