---
import Layout from "../layouts/Layout.astro";

// If the user has a session, redirect them to the dashboard.
const accessToken = Astro.cookies.get("sb-access-token");
if (accessToken) {
  return Astro.redirect("/dashboard");
}
---

<Layout>
  <!-- SI NO HAY USUARIO: Muestra la página de bienvenida -->
  <div
    class="container text-center items-center align-middle flex flex-col w-[100%] mt-10"
  >
    <h1 class="text-3xl font-bold">Controla tus Finanzas Personales</h1>
    <p class="mt-2">
      La herramienta definitiva para seguir tus gastos e ingresos.
    </p>
    <div class="cta-buttons mt-8 flex gap-4">
      <a
        href="/signin"
        class="border-2 border-black rounded-2xl px-4 py-2 text-center font-semibold hover:bg-gray-100"
        >Iniciar Sesión</a
      >
      <a
        href="/register"
        class="border-2 border-black rounded-2xl px-4 py-2 text-center font-semibold bg-black text-white hover:bg-gray-800"
        >Crear Cuenta</a
      >
    </div>
  </div>
</Layout>