---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title="Dinario - Iniciar sesión">
  <main class="px-4 py-2 items-center justify-center flex flex-col">
    <h1 class="text-black text-xl font-bold md:text-2xl lg:text-2xl">
      Iniciar sesión en Dinario:
    </h1>
    <!-- Formulario de inicio de sesión-->
    <form
      action="/api/auth/signin"
      method="post"
      class="flex flex-col justify-center border-2 border-neutral-900 rounded-xl p-2 shadow-2xl shadow-neutral-400 mt-4 sm:min-w-[90vh] md:min-w-[60vh] lg:min-w-[80vh] xlmin:w-[70vh]"
    >
      <div class="flex flex-col items-center justify-center">
        <!-- Correo electrónico -->
        <label for="email" class="font-semibold">Correo electrónico:</label>
        <input
          type="email"
          name="email"
          id="email"
          class="border-1 border-neutral-800 rounded-2xl outline-none px-2 py-1 text-sm sm:min-w-[80vh] md:min-w-[60vh] lg:min-w-[60vh]"
          autocomplete="email"
          required
        />
      </div>
      <div class="flex flex-col items-center justify-center">
        <!-- Contraseña -->
        <label for="password" class="mt-4 font-semibold">Contraseña:</label>
        <div
          class="flex items-center gap-x-2 sm:min-w-[80vh] md:min-w-[60vh] lg:min-w-[60vh]"
        >
          <input
            type="password"
            name="password"
            id="password"
            class="border-1 border-neutral-800 rounded-2xl outline-none px-2 py-1 text-sm sm:min-w-[80vh] md:min-w-[60vh] lg:min-w-[60vh]"
            autocomplete="current-password"
          />
          <!-- Ver la contraseña contraseña -->
          <input
            type="checkbox"
            onclick="password.type = this.checked ? 'text' : 'password'"
            class="mr-1"
          />
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <!-- Enviar el formulario -->
        <button
          type="submit"
          class="bg-green-600 sm:min-w-[80vh] md:min-w-[60vh] lg:min-w-[40vh] p-2 font-bold border-none rounded-2xl mt-4"
          >Iniciar sesión</button
        >
      </div>
    </form>
    <p class="text-md font-semibold mt-2 text-center">
      ¿Nuevo aquí? <a href="/register" class="text-green-600">Crea una cuenta</a
      >
    </p>
  </main>
</Layout>
