<footer
  class="w-full h-auto py-2 px-4 flex justify-between items-center bg-green-800 md:px-8 md:flex-row flex-col gap-2 bottom-0 relative"
>
  <div class="flex flex-col">
    <p class="text-neutral-300 sm:text-sm md:text-md lg:text-lg font-bold">
      &copy; <span id="year"></span> Martin Adolfo Bravo Montaño. Todos los derechos
      reservados.
    </p>
    <p>
      Diseño y desarrollo por <a
        href="https://github.com/Martin08ABM?tab=repositories"
        target="_blank"
        rel="noopener noreferrer"><em>Martin Adolfo Bravo Montaño</em></a
      >
    </p>
  </div>
  <div class="flex flex-row gap-2">
    <a
      href="https://github.com/Martin08ABM?tab=repositories"
      target="_blank"
      rel="noopener noreferrer"
      class="text-neutral-300 sm:text-sm md:text-md lg:text-lg font-bold"
      >GitHub</a
    >
  </div>
  <div class="flex flex-row gap-2">
    <a href="https://ko-fi.com/U6U71FFEX1" target="_blank"
      ><img
        height="36"
        style="border:0px;height:36px;"
        src="https://storage.ko-fi.com/cdn/kofi5.png?v=6"
        alt="Buy Me a Coffee at ko-fi.com"
      /></a
    >
  </div>
</footer>
<script>
  const year = new Date().getFullYear();
  document.getElementById("year").innerHTML = year;
</script>
