<header
  class="w-full h-auto py-2 px-4 flex justify-between items-center bg-green-800 md:px-8"
>
  <a href="/">
    <img src="/dinario.png" alt="Logo de Dinario" class="h-7 sm:h-8" />
  </a>
  <a href="/dashboard" class="text-white text-sm font-bold sm:text-base"
    >Dashboard</a
  >
</header>
